:root{
    --primary-color: #29487D;
    --secondary-color: #1DA1F2;
    --text-color: #ffffff;
}

*{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to left, #243B55, #141E30);
    padding-bottom: 50px;
}

.secondary-text{
    color: var(--secondary-color);
  }

.op-card{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.op-card-small{
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.parallax-home {
    /* The image used */
    background-image: url("images/mountains.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Navigation Bar */
.navbar-toggler:focus {
    outline: none !important;
}

.navbar-header.col {
    padding: 0 !important;
}

.navbar {
    background: rgba(0, 0, 0, 0.4);
    padding-right: 16px;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}


.navbar ul.nav li a:hover,
.navbar ul.nav li a:focus {
    color: white !important;
}

.navbar ul.nav li.active a,
.navbar ul.nav li.active a:hover,
.navbar ul.nav li.active a:focus {
    color: rgb(145, 145, 145) !important;
    background: transparent !important;
}

.navbar .nav-link {
    font-size: 18px;
    padding: 0;
}

.navbar .nav-item.open>a {
    background: none !important;
}



/* Cool Link */
.cool-link {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}



/* Home Page */
 #photo {
    background-image: url("images/mountains.jpg");
    padding-top: 30vh;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
    height: 100vh;
    
} 

#photo img{
    width: 50%;
    min-width: 350px;
}

#homeTxt{
    font-weight: normal;
    letter-spacing: 0.2em;
    font-size:calc(5px + 0.8vw);
    margin-top: -3%;
}
.btn2:hover, .btn2:focus, .btn2.active, .open>.dropdown-toggle.btn2 {
    background-color: rgba(0, 0, 0,0.3);
}

#resumeBttn{
    text-decoration: none;
}

/* About Me */
#aboutMe{
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to left, #243B55, #141E30); 
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#aboutMe p{
    color: var(--text-color);
    margin-bottom: 0;
}

#headShot{
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.24);
    width: calc(150px + 10vw);
    margin-bottom: 15px;
}


mark{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.4);
}

.skill-icon{
    width: 30px;
}

/* Experience */

#experience{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to left, #243B55, #141E30); 
    /* background: #005C97;  
    background: -webkit-linear-gradient(to right, #363795, #005C97); 
    background: linear-gradient(to right, #363795, #005C97);  */
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 25;
    padding-right: 25;
}

#experience h1{
    font-size: xxx-large;
    font-weight: bold;
    padding-bottom: 15px;
}

.card-img {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card-img:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.4);
  }

  
  /* Add rounded corners to the top left and the top right corner of the image */
.card-img {
    border-radius: 5px 5px 0 0;
    max-width: 200px;
}

.img-fluid {
    max-width: 300px;
    height: auto;
}
.card{
    max-width: 300px;
    font-size:calc(10px + .4vh);
}
.container h4{
    padding-top: 10px;
}

/* Projects */

#projects{
    
    min-height: 50vh;
}

#test8{
    margin-right: auto;
    margin-left: auto;
}
#test9{
    margin-left: auto;
    margin-right: auto;
}

/* Media Queries */

@media (min-width: 768px){
    #aboutMe{
        padding: 100px;
    }
    #experience{
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 90px;
        padding-bottom: 75px;
    }
    #test8{
        margin-right: 0;
        margin-left: auto;
    }
    #test9{
        margin-left: 0;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    #aboutMe{
        padding: 150px;
    }
    #experience{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 75px;
        padding-bottom: 75px;
    }
}


/* background-color: #002340 !important; */


@media only screen and (max-device-width: 1366px) {
    .parallax-home {
        background-attachment: scroll;
    }
  }


#projects{
    background: #005C97;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to left, #243B55, #141E30);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 25;
    padding-right: 25;
}





/* Contact Me */
  .contact{
    position: relative;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  
    background: linear-gradient(to left, #243B55, #141E30);
  }
  
  .contact div{
    width: 50%;
    min-height: 30vh;
    margin: auto;
    padding-top: 20px;
  }
  
  
  .social-menu h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
  }
  .social-menu ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    margin-top: 30px;
    display: flex;
  }
  .social-menu ul li {
    list-style: none;
    margin: 0 10px;
  }
  .social-menu ul li .fa {
    color: #000000;
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
  }
  .social-menu ul li .fa:hover {
    color: #ffffff;
  }
  .social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
  }
  .social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
  }
  .social-menu ul li:nth-child(3) a:hover {
    background-color: #55acee;
  }
  .social-menu ul li:nth-child(4) a:hover {
    background-color: #e4405f;
  }
  .social-menu ul li:nth-child(1) a:hover {
    background-color: #000000;
  }
  .social-menu ul li:nth-child(2) a:hover {
    background-color: #0077B5;
  }
  .social-menu ul li:nth-child(5) a:hover {
    background-color: #FF0000;
  }

  /* Projects */

  .project{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px 50px;
    margin-left: 5px;
    margin-right: 5px;
  }

  #projects h1{
    font-size: xxx-large;
    font-weight: bold;
  }

  #projects h3{
    padding-top: 10px;
    font-weight: bold;
  }

  #projects img{
      width: 100%;;
      border-radius: 15px 50px;
  }
